.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100vh;
    gap: 5px;
}

.box {
    background-color: blue;
    padding: 10px;
    color: aliceblue;
}

